div.container-fluid {
    height: 700px;
    width: 1000px;
}

img.camshot {
    width: 512px;
    height: 384px;
}
.col-sm-5.controlsdiv {
    margin-top: 24px;
}

.btncol.col-sm-2.col-sm-6 {
    margin-top: 5px;
}

.col-sm-5.col-sm-12.configdiv {
    margin-top: 20px;
}


div.numhandle.ui-slider-handle {
    width: 1.3em;
    height: 1.3em;
    top: 50%;
    margin-top: -0.6em;
    text-align: center;
    line-height: 1.3em;
    border-radius: 20px;
    font-size: 32px;
    outline: none;
}

.slider-row.row {
    margin-top: 33px;
}

.ui-slider-range {
    background: black;
}