<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>

		<!-- Required meta tags for Bootstrap CSS -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<!-- JavaScript Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		<!-- d3 for .csv function -->
		<script src="https://d3js.org/d3.v6.min.js"></script>
		<!-- Chart js --> 
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha256-t9UJPrESBeG2ojKTIcFLPGF7nHi2vEc7f5A2KpH/UBU=" crossorigin="anonymous"></script>
		<!-- jQuery and jQuery UI just for sliders -->
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


		<link rel="shortcut icon" href="static/favicon.ico">
		<link rel="stylesheet" href='{{ url_for('static',    filename='style.css') }}' />
		<style>
			.chart{
			vertical-align: middle;
			width: 100%;
			margin: 0 auto;
			position: relative;
			display: inline-block;

			}
			p {
			text-align: center;
			font-family:'Verdana', sans-serif;
			font-size: 10px;
			}

			canvas{
			height: 100%;
			}
		</style>
		
		<title>GROHBOT LIVE</title>
	</head>

	<body>

		<div class="container-fluid">

			<div class = "row">

				<div class="col-sm-7 imgdiv">

					<a href="/?action=refresh">
						<img class="camshot rounded mx-auto d-block" src="static/grohbot.jpg?{{ imgstamp }}"/>
					</a>

				
				</div>

				<div class="col-sm-5 controlsdiv">
						<div class="messagerow row"> 
								<div class="col-sm-5 col-sm-12">
									<div class="card">
										<div class="card-body">
											<div class="card-text">
												{{ messagetext }}
											</div>
										</div>
									</div>
								</div>
						</div>
						<div class = "row devicenamesrow" >
							<div class="devicetext text-end col-sm-1 col-sm-1"></div>	
							{% for name, device in devices.items() %}
								<div class="devicetext text-end col-sm-1 col-sm-2">	
									{{ device.name }}
								</div>
							{% endfor %}
							<div class="devicetext text-end col-sm-1 col-sm-1"></div>
						</div>

						

						<div class = "row buttonsrow" >
							<div class="devicetext text-end col-sm-1 col-sm-1"></div>
							{% for name, device in devices.items() %}
								<div class="onoffbuttons col-sm-2 col-sm-2">	
									{% if device.state == 0 %}
										<a class="btn btn-sm devicebtn stateoffactive" href="/?action={{ device.page }}off">OFF</a> <a class="btn btn-sm devicebtn stateonunactive" href="/?action={{ device.page }}on">ON</a>
									{% else %}
										<a class="btn btn-sm devicebtn stateoffunactive" href="/?action={{ device.page }}off">OFF</a> <a class="btn btn-sm devicebtn stateonactive" href="/?action={{ device.page }}on">ON</a>
									{% endif %}
								</div>
							{% endfor %}
							<div class="devicetext text-end col-sm-1 col-sm-1"></div>
						</div>

						<div class="slider-row row">
							<div class="col-sm-5 col-sm-12">
								<label for="slider-lights" class="sliderlabel">Lights Off/On:</label>
								<div id="slider-lights">
									<div id="custom-handle-light-off" class="numhandle ui-slider-handle"></div>
									<div id="custom-handle-light-on" class="numhandle ui-slider-handle"></div>
								</div>
							</div>
						</div>

						<div class="slider-row row">
							<div class="col-sm-5 col-sm-12">
								<label for="slider-temps" class="sliderlabel">Temps Low/High:</label>
								<div id="slider-temps">
									<div id="custom-handle-temp-low" class="numhandle ui-slider-handle"></div>
									<div id="custom-handle-temp-high" class="numhandle ui-slider-handle"></div>
								</div>
							</div>
						</div>

						<div class="slider-row row">
							<div class="col-sm-5 col-sm-12">
								<label for="slider-humid" class="sliderlabel">Humidity (High):</label>
								<div id="slider-humid">
									<div id="custom-handle-humid" class="numhandle ui-slider-handle"></div>
								</div>
							</div>
						</div>
						<div class="save-config row">
							<div class="col-sm-9 col-sm-9"></div>
							<div class="col-sm-1 col-sm-1"></div>
							<div class="col-sm-2 col-sm-2">
								<a class="savebtn btn btn-sm btn-secondary" onClick="saveConfig()">Save</a>
							</div>
							
						</div>
				</div>
			
			</div>

			<div class="row">

				<div class="col-12">
					<div class="panel-content text-center  histchart">
						<canvas id="myLineChart" class="chart" height="264" width="900"></canvas>
					</div>
				</div>
			
			</div>
			
		</div>

	<script>
			
			window.onload = (event) => {
    			
				console.log('The page has fully loaded');
				
				// get file and set up chart 
				d3.csv("static/csv/lastdht.csv").then(makeChart);

				setUpSliders();

				clearURL();
			};
			
			function clearURL() {

				// If URL is an action page, reset URL to home so we dont get refresh errors
				var currentPathname = window.location.pathname;
				if (currentPathname != "") {
					ChangeUrl("GROHBOT LIVE", "http://10.0.0.199:5000/")
				}

			}


			function setUpSliders() {

				var handleon = $( "#custom-handle-light-on" );
				var handleoff = $( "#custom-handle-light-off" );
				$( "#slider-lights" ).slider({
					range: true,
					min: 0,
					max: 23,
					values: [{{ configdata.hour_lights_off }}, {{ configdata.hour_lights_on }} ],
					create: function() {
						handleon.text( $( this ).slider( "values", 1 ) );
						handleoff.text( $( this ).slider( "values", 0 ) );
					},
					slide: function( event, ui ) {
						handleon.text( ui.values[1] );
						handleoff.text( ui.values[0] );
					}
				});
				
				var handlehigh = $( "#custom-handle-temp-high" );
				var handlelow = $( "#custom-handle-temp-low" );
				$( "#slider-temps" ).slider({
					range: true,
					min: 40,
					max: 110,
					values: [{{ configdata.low_temp_trigger }}, {{ configdata.high_temp_trigger }} ],
					create: function() {
						handlehigh.text( $( this ).slider( "values", 1 ) );
						handlelow.text( $( this ).slider( "values", 0 ) );
					},
					slide: function( event, ui ) {
						handlehigh.text( ui.values[1] );
						handlelow.text( ui.values[0] );
					}
				});
				
				var handlehumid = $( "#custom-handle-humid" );
				$( "#slider-humid" ).slider({
					range: "min",
					min: 40,
					max: 100,
					value: {{ configdata.high_humid_trigger }},
					create: function() {
						handlehumid.text( $( this ).slider( "value") );	
					},
					slide: function( event, ui ) {
						handlehumid.text( ui.value );
					}
				});
			}
			function saveConfig() {
				
				var lightvalues = $( "#slider-lights" ).slider( "values" );
				var tempsvalues = $( "#slider-temps" ).slider( "values" );
				var humidvalue = $( "#slider-humid" ).slider( "value" );

				var url = window.location + "?hour_lights_on=" + lightvalues[1] 
											+ "&hour_lights_off=" + lightvalues[0] 
											+ "&low_temp_trigger=" + tempsvalues[0] 
											+ "&high_temp_trigger=" + tempsvalues[1]
											+ "&high_humid_trigger=" + humidvalue;
				console.log("SAVING");
				window.location.replace(url);
				
			}
			function makeChart(dhtdata) {
				
				var temps = dhtdata.map(function(d) {
    				return d.Temp;
  				});
  				var humid = dhtdata.map(function(d) {
    				return d.Humidity;
  				});
				var timelables = dhtdata.map(function(d) {
					return d.Datetime.substring(0,5);
				});
				// Data
				var data = {
				labels: timelables,
				datasets: [{
					label: "Temperature(F)",
					backgroundColor: "rgba(75,192,192,0.4)",
					data: temps
				}, {
					label: "Humidity",
					backgroundColor: "rgba(187,80,17,0.4)",
					data: humid
				}]
				};


				// Global + Custom Chart Config Options

				var options = {
				bezierCurve: false,
				animation: true,
				animationEasing: "easeOutQuart",
				showScale: false,
				tooltipEvents: ["mousemove", "touchstart", "touchmove"],
				tooltipCornerRadius: 3,
				pointDot : true,
				pointDotRadius : 4,
				datasetFill : true,
				scaleShowLine : true,
				animationEasing : "easeOutBounce",
				animateRotate : true,
				animateScale : true,
				responsive: true
				};


				// Load Chart

				var ctx1 = document.getElementById("myLineChart").getContext("2d");
				var myLineChart = new Chart(ctx1, {
					type: 'line',
					data,
					options
				});
			}
			
			function ChangeUrl(title, url) {
				if (typeof (history.pushState) != "undefined") {
					var obj = { Title: title, Url: url };
					history.pushState(obj, obj.Title, obj.Url);
				} else {
					alert("Browser does not support HTML5.");
				}
			}
		</script>
	</body>
</html>
